@font-face {
	font-family: sports;
	src: url("../images/FNL.ttf") format("truetype");
}

@font-face {
	font-family: diffSportsFont;
	src: url("../images/Freshman.ttf") format("truetype");
}

body {
	font-family: "sports";
	background: url(../../assets/images/fieldbg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

img {
	width: 300px;
	height: 245px;
	margin-right: 1%;
	margin-bottom: 2%;
}

.displayGifs {
	margin: 15px 35px;
}

.ratings {
	width: 300px;
}

.gifs {
	margin-right: 1%;
	border: 2px solid yellow;
	font-family: diffSportsFont;
}

.actualGif {
	border: 2px solid yellow;
	text-shadow: 6px 6px 12px black;
}

p {
	font-weight: bold;
	color: black;
}

h1 {
	color: white;
	text-align: center;
	font-size: 120px;
}

#gif-form input {
	font-family: diffSportsFont;
}

#addGif {
	margin-top: 2px;
	margin-left: 2px;
	font-family: diffSportsFont;
}

#displayGifButtons {
	margin-left: 5px;
}
